iframe.invertcolors {
	filter:invert(1);
}
.kiwi-theme-bg {
	background: #000 !important;
}
.kiwi-welcome-simple-form .u-submit{
	background-color: #0ff !important;
}
.kiwi-welcome-simple-start {
	color: #000 !important;
}
