/*
Theme Name: xrcb
Layout: Content-Sidebar-Sidebar
*/

.content-area {
	float: left;
	width: 100%;
}
.site-content {
	margin: 0 40% 0 0;
}
.site-main .widget-area {
	float: left;
	margin: 0 0 0 -40%;
	overflow: hidden;
	width: 20%;
}
.site-footer {
	clear: both;
	width: 100%;
}
